*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body{
  background-color: #16161a;
}
.loading-screen{
  animation: 1s ease-out 0s 1 fade-in;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #16161a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.textodescarga{
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
#bar-container {
  width: 100%;
  height: 25px;
  background-color: #242629;
  border-radius: 5px;
}

#bar {
  width: 0;
  height: 100%;
  background-color: #7f5af0;
  transition: width 0.2s;
  border-radius: 5px;
}
.logo{
  width: 120px;
  height: 120px;
}

.loading-bar{
  width: 130px;
  height: 2px;
  background: #cfcfcf;
  margin-top: 22px;
  position: relative;
  overflow: hidden;
}

.loading-bar::before{
  content: "";
  width: 68px;
  height: 2px;
  background: #7f5af0;
  position: absolute;
  left: -34px;
  animation: bluebar 1.5s infinite ease;
}

@keyframes bluebar {
  50%{
    left: 96px;
  }
}
btnModal{
  animation: 1s ease-out 0s 1 fade-in;
  font-family: "Poppins" , sans-serif;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

btnModal:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

btnModal:active {
  transform: scale(0.9);
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1;}
}
.loader-container{
  width: 100%;
  height: 100vh;
  background-color: #111;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999;
}

.loader{
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

.hide{
  display: none;
}

@keyframes loader{
  25%{
      color: #8a56dd;
  }
  50%{
      color: #5e0ff1;
  }
  75%{
      color: #39026b;
  }
  to{
      transform: rotate(360deg);
  }
}
@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.fadeout{
  animation: 0.5s ease-out 0s 1 fade-out;
}
