@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
    background-color: #16161a;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
section .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.active .profile{
    display: none;
}
.profile .profile-img{
    background-color: #9d40f4;
    padding: 2px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}
.profile .profile-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
}
.profile .name{
    font-size: 18px;
    font-weight: 500;
    color: #fffffe;
}
.profile .profession{
    font-size: 18px;
    font-weight: 400;
    margin-top: -6px;
    color: #fffffe;
}
.profile .button{
    display: flex;
    align-items: center;
    background: #7f40f4;
    padding: 12px 20px;
    border-radius: 6px;
    margin-top: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.profile .button:hover{
    background: #4d01a3;
}
.profile .button i{
    font-size: 18px;
    margin-right: 5px;
    color: #fff;
}
.profile .button button{
    background: none;
    display: inline-block;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
/* pop up box styling */
section .popup-outer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transform: scale(1.2);
    transition: opacity 0.2s 0s ease-in-out,  
                transform 0.2s 0s ease-in-out;
}
section.active .popup-outer{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
section .popup-box{
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    max-width: 380px;
    width: 100%;
}
.popup-box .close{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: #b4b4b4;
    transition: all 0.2s ease;
    cursor: pointer;
}
.popup-box .close:hover{
    color: #333;
}
.popup-box .profile-text{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.popup-box .profile-text .text{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.profile-text .text .name{
    font-size: 14px;
    font-weight: 400;
}
.profile-text .text .profession{
    font-size: 12px;
    font-weight: 500;
    margin-top: -4px;
}
 .popup-box img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.popup-box textarea{
    min-height: 140px;
    width: 100%;
    resize: none;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    padding: 10px 10px 10px 14px;
    font-weight: 400;
    background: #f3f3f3;
}
.popup-box .button{
    display: flex;
    justify-content: flex-end;
}
.popup-box .button button{
    outline: none;
    border: none;
    margin-left: 10px;
    background: #6f93f6;
    padding: 6px 12px;
    border-radius: 4px;
    margin-top: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease;
}
.button button.cancel{
    background: #f082ac;
}
.button button.cancel:hover{
    background: #ec5f95;
}
.button button.send:hover{
    background: #275df1;
}

.logo{
    width: 120px;
    height: 120px;
  }
  #bar-container {
    width: 100%;
    height: 25px;
    background-color: #242629;
    border-radius: 5px;
  }
  
  #bar {
    width: 0;
    height: 100%;
    background-color: #7f5af0;
    transition: width 0.2s;
    border-radius: 5px;
  }
  .loading-bar{
    width: 130px;
    height: 2px;
    background: #cfcfcf;
    margin-top: 22px;
    position: relative;
    overflow: hidden;
  }
  
  .loading-bar::before{
    content: "";
    width: 68px;
    height: 2px;
    background: #9A2EFE;
    position: absolute;
    left: -34px;
    animation: bluebar 1.5s infinite ease;
  }
  
  #control{
      -webkit-app-region: drag;
      width: 100%;
      height: 100vh;
      z-index: 99;
      top: 0;
      left: 0;
      position: absolute;
      background: transparent;
  }
  
  #download{
      position: absolute;
      bottom: 15px;
      width: 80%;
      left: 10%;
      height: 25px;
  }
  
  #download-label{
      position: absolute;
      top: 20vh;
      width: 97%;
      text-align: center;
      font-size: 48px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
  }
  
  @keyframes bluebar {
    50%{
      left: 96px;
    }
  }
  
  .blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }